
/* ============================================= */
/*              Color Variables                   */
/* ============================================= */

$color-text: #777;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$white: #fff;
$color-others: #63cc82;


/* ============================================= */
/*            Media querry breakpoint            */
/* ============================================= */

$breakpoint: 768px;


/* ============================================= */
/*          Fonts Variables                     */
/* ============================================= */

$font-stack-primary: 'Lato', sans-serif;
$font-weight: (
    'light': 300,
    'bold': 700,
);

/* ============================================= */
/*          Additional Variables                */
/* ============================================= */

$radius: 5px;


/* ============================================= */
/*            Theme Color Variables             */
/* ============================================= */

$themes: (
        'default':$color-secondary,
        'error': #e4757a,
        'info': #927bc1,
        'success':$color-others,
        'warning':#fd7856,
);