/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    @include btn;
    border-radius: $radius;
  }
  
.default {
    background-color: map-get($themes , 'default' );
  &:hover {
      background-color: lighten(map-get($themes, 'default'), 20%);
    }
  }
.error {
    background-color: map-get($themes, 'error' );
  &:hover {
    background-color: lighten(map-get($themes, 'error'), 20%);
  }
}
 
  
.info {
    background-color:map-get($themes , 'info' );
   &:hover {
    background-color: lighten(map-get($themes, 'info'), 20%);
  } 
}

.success {
    background-color: map-get($themes , 'success' );
   &:hover {
      background-color: lighten(map-get($themes, 'success'), 20%);
  } 
  }
  
.warning {
    background-color:map-get($themes , 'warning' );
  &:hover {
      background-color: lighten(map-get($themes, 'warning'), 20%);
  } 
}